@charset "UTF-8";
.hiddenStructure{display:block;background:transparent;background-image:none;border:none;height:0.1em;overflow:hidden;padding:0;margin:-0.1em 0 0 -0.1em;width:1px;}
h2.IndexLabel,h2.entry-title{margin:1em 0 0 0;border:none;padding:0;background-color:#D3D3D3;font-size:100%;text-align:left;}
h2.IndexLabel>a{color:#191970;}
div.AlphaMenu{margin:0;border:solid 1px #191970;padding:2px;font:bold 120% "Trebuchet MS",sans-serif;text-align:center;}
a.AlphaMenu{text-decoration:none;padding:0 0.25em;}
a.AlphaMenu,a.AlphaMenu:link,a.AlphaMenu:visited{color:#4169E1;background-color:#F8F8FF;}
a.AlphaMenu:hover{color:#F8F8FF;text-decoration:none;background-color:#4169E1;}
span.CurrentLetter{padding:0 0.25em;color:#4169E1;text-decoration:underline;}
span.MenuLinkPadded{padding:0 0.25em;}
a.Author{text-decoration:none;}
a.Author,a.Author:link,a.Author:visited{color:inherit;background-color:inherit;}
a.Author:hover{text-decoration:underline;}
div#TagCloud{margin:1em;font:bold 100% "Trebuchet MS",sans-serif;text-indent:0;text-align:center;}
div#TagCloud a{margin:0 7px;white-space:nowrap;}
a.EvenTag{text-decoration:none;font-weight:bold;}
a.EvenTag,a.EvenTag:link,a.EvenTag:visited{color:#2E8B57;background-color:inherit;}
a.EvenTag:hover{text-decoration:underline;}
a.OddTag{text-decoration:none;font-weight:bold;}
a.OddTag,a.OddTag:link,a.OddTag:visited{color:#4682B4;background-color:inherit;}
a.OddTag:hover{text-decoration:underline;}
div#TagLinks.Panel{text-align:center;}
div#TagLinks.Panel>ul{list-style-type:none;margin:0;padding:0;}
div#TagLinks.Panel>ul>li{display:inline;margin:0;padding:0 5px 0 0;}
div#TOC{margin:1em auto;width:60%;font:90% "Trebuchet MS",sans-serif;}
div#TOC>p{margin:0;padding:0;text-align:center;text-indent:0;font-weight:bold;}
div#TOC a{text-decoration:none;font-weight:bold;}
div#TOC a,div#TOC a:link,div#TOC a:visited{color:#4169E1;background-color:inherit;}
div#TOC a:hover{text-decoration:underline;}
ol.TOC{margin:0;border:1px solid #191970;padding:1.5ex 1em 1.5ex 3em;background-color:#E6E6FA;}
ul.TOC{margin:0;border:1px solid #191970;padding:1.5ex 1em 1.5ex 3em;background-color:#E6E6FA;list-style-type:disc;}
ul.TOC ul.TOC{padding:0 0 0 2em;border:none;}
html#tg_entrevista div#Content p{text-indent:0;}
span.Equivalencia{margin:0 0.5em;font:150%/0.5 Arial,"DejaVu Sans","Droid Sans Fallback",OpenSymbol,sans-serif;}
blockquote.TextFragment{margin-top:0;margin-left:2em;}
blockquote.TextFragment p{margin:0;}
ol.biblist li,ul.biblist li{line-height:normal;}
span.External{display:none;}
a{text-decoration:none;}
a,a:link,a:visited{color:#4169E1;background-color:inherit;}
a:hover{text-decoration:underline;}
a[href^="http://"]{background:url(../images/external.png) center right no-repeat;padding-right:13px;}
a[href^="http://espectroautista"],a[href^="http://EspectroAutista.Info"]{background:transparent !important;padding-right:0 !important;}
table{border-collapse:collapse;caption-side:top;margin:0 auto 0 auto;background-color:#E6E6FA;font:90% "Trebuchet MS",sans-serif;text-align:left;}
caption{margin-top:1em;margin-bottom:0.25em;font-weight:bold;text-align:center;}
th,td{border:1px solid #191970;padding:4px;}
th{font-weight:bold;text-align:center;}
table.Abbr{border-collapse:separate;border-spacing:4px;background-color:#F8F8FF;}
table.Abbr td{border:none;padding:2px;background-color:#E6E6FA;font-weight:bold;text-align:center;}
h1{margin-bottom:.67em;border-top:2px solid #191970;border-bottom:2px solid #191970;padding:0.1em;font:bold 1.8em "Trebuchet MS",sans-serif;color:#191970;text-align:center;}
h2{margin:1ex 0;border-bottom:2px solid #191970;padding:0.1em;font:1.4em "Trebuchet MS",sans-serif;color:#191970;}
h3{margin:1ex 0;border-bottom:1px solid #191970;padding:0.1em;font:bold 1.17em "Trebuchet MS",sans-serif;}
h4{margin:1ex 0;font:bold 1em "Trebuchet MS",sans-serif;}
h5{margin:1ex 0;font:bold 0.83em "Trebuchet MS",sans-serif;}
h6{margin:1ex 0;font:bold 0.67em "Trebuchet MS",sans-serif;}
p{margin:1ex 0;line-height:150%;}
p+p{text-indent:2em;}
blockquote{margin:1.5ex 3em;font-style:italic;font-size:95%;}
blockquote>p.cite{text-align:right;}
dl{margin:1em 0;}
dt{margin-top:0.5em;font-weight:bold;}
dt+dt{margin-top:0;}
dd{margin-left:3em;}
ol,ul{margin:1em 0;padding:0 0 0 3em;}
li{margin:0.5em 0;padding:0;line-height:150%;}
ol ol,ul ul,ol ul,ul ol{margin:0;}
div.img{text-indent:0;text-align:center;margin:1em auto;}
div.img>p{margin:0;padding:0;font-family:"Trebuchet MS",sans-serif;text-align:center;text-indent:0;font-weight:bold;font-size:90%;}
div.Video{text-indent:0;text-align:center;margin:2em auto;}
q{quotes:'“' '”' '«' '»';}
q:before{content:open-quote;}q:after{content:close-quote;}
abbr{border-left:1px dotted #191970;border-right:1px dotted #191970;padding:0 2px;letter-spacing:0.05em;cursor:help;}
strong{font-weight:bold;}
cite,em{font-style:italic;}
sub{vertical-align:-0.5em;font-size:0.75em;}
sup{vertical-align:0.5em;font-size:0.75em;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
strong.title{color:#191970;font-family:"URW Gothic L","Century Gothic",sans-serif;}
.url{font:bold 90% "Courier New",monospace;}
.Symbol{font-family:Arial,"DejaVu Sans","Droid Sans Fallback",OpenSymbol,sans-serif;text-decoration:none;}
div.Article{margin:0 auto;font-weight:bold;text-align:center;}
div.Article p{line-height:normal;text-indent:0;}
ul.Paper{list-style-type:square;}
.Leftist{text-align:left;}.Centrist{text-align:center;}
input[type=reset],
input[type=submit],
input[type=button]{cursor:pointer;}
.HiddenText{color:#F8F8FF;background-color:#F8F8FF;visibility:hidden;}
